/* Contenedor del icono y badge del carrito en TopPicks */
.toppicks-cart-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

/* Badge del carrito para TopPicks */
.cart-badge-topPick {
    position: absolute;
    right: 10px;
    background: #5C7347;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 2px 8px #0002;
    min-width: 15px;
    text-align: center;
    line-height: 1.2;
}

.toppicks-page {
    max-width: 420px;
    margin: 0 auto;
    background: #F6F5F0;
    box-shadow: none;
    padding: 0 0 32px 0;
    min-height: 100vh;
    position: relative;
}

.toppicks-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 20px 0;
    background: none;
    border-radius: 18px 18px 0 0;
    box-shadow: none;
    padding: 24px 18px 12px 18px;
    position: relative;
}

.toppicks-title {
    font-family: 'Explore Magic', 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #3a5a40;
    margin: 0 auto;
    letter-spacing: 1px;
    flex: none;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.toppicks-seeall {
    margin-left: auto;
    align-self: flex-end;
    font-family: 'Explore Magic', 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: #3a5a40;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s;
}

.toppicks-seeall:hover {
    color: #588157;
}

.toppicks-back {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.toppicks-back .arrow-icon {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.toppicks-cart {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-top: 5px;
}

.toppicks-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 12px;
    justify-content: center;
}

.toppick-card {
    background: #F6F5F0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    max-width: 180px;
    margin-bottom: 8px;
    padding: 1px 8px 13px 1px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.toppick-card img {
    width: 156px;
    height: 165px;
    border-radius: 10px;
    background: #F6F5F0;
    display: block;
    margin-left: 5px;
}

.toppick-name {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    ;
    font-weight: 600;
    color: #222;
    font-size: 12px;
    text-align: start;
    margin-left: 10px;

}

.toppick-price {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    ;
    font-weight: 400;
    color: #3a5a40;
    font-size: 12px;
    text-align: start;
    margin-left: 10px;
}